.container {
    height: 50px;
    display: flex;
}

.item1 {
    display: flex;
    width: 100px;
    background-color: lightblue;
    justify-content: center;
}

.text {
    color: white;
    background-color: black;
}

.item2 {
    width: 200px;
    background-color: lightpink;
}

.item3 {
    width: 100px;
    background-color: lightblue;
}

.item4 {
    width: 200px;
    background-color: lightpink;
    
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.row2-item {
    color: white;
    background-color: black;
}

